<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3.0.1.xsd"
	version="3.0.1">

	<display-name>server</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>employee</servlet-name>
		<servlet-class>com.server.controller.EmployeeController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>employeeskill</servlet-name>
		<servlet-class>com.server.controller.EmployeeSkillController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>employeeprofile</servlet-name>
		<servlet-class>com.server.controller.EmployeeProfileController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>employer</servlet-name>
		<servlet-class>com.server.controller.EmployerController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>employerskill</servlet-name>
		<servlet-class>com.server.controller.EmployerSkillController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>employerprofile</servlet-name>
		<servlet-class>com.server.controller.EmployerProfileController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>project</servlet-name>
		<servlet-class>com.server.controller.ProjectController</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>projectprofile</servlet-name>
		<servlet-class>com.server.controller.ProjectProfileController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>projectskill</servlet-name>
		<servlet-class>com.server.controller.ProjectSkillController
		</servlet-class>
	</servlet>


	<!--***************************** Controller mapping ***************************** -->

	<!-- ***************************Employee******************************* -->
	<servlet-mapping>
		<servlet-name>employee</servlet-name>
		<url-pattern>/employee</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>employeeprofile</servlet-name>
		<url-pattern>/employee/profile</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>employeeskill</servlet-name>
		<url-pattern>/employee/skill</url-pattern>
	</servlet-mapping>

	<!-- ***************************Employeer******************************* -->

	<servlet-mapping>
		<servlet-name>employer</servlet-name>
		<url-pattern>/employer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>employerprofile</servlet-name>
		<url-pattern>/employer/profile</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>employerskill</servlet-name>
		<url-pattern>/employer/skill</url-pattern>
	</servlet-mapping>

	<!-- ****************************Project****************************** -->

	<servlet-mapping>
		<servlet-name>project</servlet-name>
		<url-pattern>/project</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>projectskill</servlet-name>
		<url-pattern>/project/skill</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>projectskill</servlet-name>
		<url-pattern>/project/skill</url-pattern>
	</servlet-mapping>


	<!--***************************** Controller mapping end ***************************** -->
	<welcome-file-list id="WelcomeFileList">
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>