<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3.0.1.xsd"
	version="3.0.1">

	<display-name>server</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>employee</servlet-name>
		<servlet-class>com.server.controller.EmployeeController
		</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>employer</servlet-name>
		<servlet-class>com.server.controller.EmployerController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>project</servlet-name>
		<servlet-class>com.server.controller.ProjectController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>employee</servlet-name>
		<url-pattern>/server/employee</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>employer</servlet-name>
		<url-pattern>/server/employer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>project</servlet-name>
		<url-pattern>/server/project</url-pattern>
	</servlet-mapping>

</web-app>